.App {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 25vw;
  background-color: rgb(255, 255, 255);
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 1.5rem;
  margin-left: 37vw;
}

#light{
  background-color: white !important;
  color: black !important;
}

#dark{
  background-color: black !important;
  color: white !important;
}


.darkTheme{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 30px;
  height: 30px;
  top: 40px;
  left: 540px;
}

.dark-mode-toggle{
  width: 30px;
  height: 30px;
  border-radius: 2.5rem;
  background-color: black;
}

.dark-mode-toggle:hover{
  cursor: pointer;
}